<!--controle classico Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>My APIs</h3>
            <h2 class="section-title">We have the right API for you</h2>
        </div>

        <!--Função Mockada Coordenada Random Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="pricing-block-content">
                <h3>Controle Clássico</h3>
                <p class="pricing-sub">Função Mockada Coordenada Random</p>
                <div class="pricing">
                    <div class="price">                        
                    </div>
                    <p>Retornos aleatórios dentro da função f(x) = 0.65 - (0.75 / (1 + x^2)) - 0.65 * x * atan(1/x)</p>
                </div>
                <ul>
                    <li>Teste!</li>
                    <li>
                        <button (click)="getFuncaoMockadaCoordenadaRandom()">Testar</button>
                    </li>
                    <li>
                        <div *ngFor="let res of randomTestResp | async">
                            {{res | json}}
                        </div>

                    </li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Função Mockada Coordenada Random Block-->

        <!--Função de Controle Classico Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="pricing-block-content">
                <h3>Controle Clássico</h3>
                <p class="pricing-sub">The standard version</p>
                <div class="pricing">
                    <div class="price">                        
                    </div>
                    <p>Retornos aleatórios dentro da função f(x) = 0.65 - (0.75 / (1 + x^2)) - 0.65 * x * atan(1/x)</p>
                </div>
                <ul>
                    <li>Teste!</li>
                    <li>
                        <button (click)="getFuncaoMockadaCoordenadaRandom()">Testar</button>
                    </li>
                    <li>
                        <div *ngFor="let res of randomTestResp | async">
                            {{res | json}}
                        </div>

                    </li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--Função de Controle Classico Block-->

    </div>
</section>
<!--End of controle classico Tables-->